# Version: v.22.05.30
# Default PyPI packages versions.
# Don't change this file
# To override a package version in this file add it to requirements.txt file.
pyyaml==6.0.2
appdirs==1.4.4
argcomplete==3.5.2
argh==0.31.3
asn1crypto==1.5.1
astor==0.8.1
attrs==24.3.0
Babel==2.13.1
beautifulsoup4==4.12.3
bs4==0.0.2
cached-property==2.0.1
cachetools==5.5.0
certifi==2026.1.4
cbor2==5.6.2
chardet==5.2.0
click==8.1.8
click-odoo==1.7.0
click-odoo-contrib==1.20
colorama==0.4.6
cryptography==42.0.8
cssselect==1.2.0
decorator==5.1.1
deepl==1.20.0
defusedxml==0.7.1
docutils==0.20.1
ebaysdk==2.2.0
freezegun==1.2.2
geoip2==4.7.0
geojson==3.2.0
gevent==24.11.1
git+https://github.com/sunflowerit/git-aggregator.git@b459aee4f35c5b4b8fc2bc4fd826bf4f2639bd3d#egg=git_aggregator
git+https://github.com/OCA/openupgradelib.git#egg=openupgradelib
greenlet==3.1.1
html2text==2024.2.26
idna==3.6
importlib-metadata==8.5.0
importlib-resources==6.4.5
importmagic3==0.2.0
isodate==0.7.2
jedi==0.19.2
Jinja2==3.1.2
libsass==0.22.0
lxml-html-clean
lxml==5.2.1
Mako==1.3.8
MarkupSafe==2.1.5
mock==5.1.0
num2words==0.5.13
ofxparse==0.21
openpyxl==3.1.2
passlib==1.7.4
pg-activity==3.5.1
phonenumbers==8.13.52
Pillow==10.2.0
polib==1.2.0
psutil==5.9.8
psycopg2==2.9.9
ptvsd==4.3.2
pudb==2024.1.3
pydot==3.0.3
Pygments==2.18.0
pyldap==3.0.0.post1
pyopenssl==24.1.0
pyparsing==3.2.0
PyPDF2==2.12.1
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==1.0.1
python-ldap==3.4.4
python-magic==0.4.27
python-stdnum==1.19
pytz==2024.2
pyusb==1.2.1
qrcode==7.4.2
raven==6.10.0
reportlab==4.1.0
requests==2.31.0
requests-toolbelt==1.0.0
rjsmin==1.2.2
Shapely==2.0.6
six==1.17.0
soupsieve==2.6
spark-parser==1.8.9
typing-extensions==4.12.2
uncompyle6==3.9.2
Unidecode==1.3.8
urllib3==2.1.0
urwid==2.6.16
vobject==0.9.6.1
watchdog==6.0.0
wdb==3.3.0
websocket-client==1.8.0
Werkzeug==3.0.1
xdis==6.1.3
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
zeep==4.2.1
zipp==3.21.0
