.vscode
**.pyc
*.pyo
common/entrypoint
common/build
custom/src/*
!custom/src/private
custom/src/private/*
!custom/src/private/.gitkeep
!custom/src/addons.yaml
!custom/src/repos.yaml
auto/*
!auto/addons
auto/addons/*
!auto/addons/.gitkeep
odoo-variables
logfile
qa/*
!qa/artifacts
qa/artifacts/*
!qa/artifacts/.gitkeep
!qa/insider
.env
.venv
Pipfile.lock
