pyyaml==5.4.1
argcomplete==1.12.3
argh==0.26.2
argparse==1.2.1
Babel==1.3
backports.functools-lru-cache==1.6.4
BeautifulSoup==3.2.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-odoo==1.4.3
click-odoo-contrib==1.12.0
colorama==0.4.4
configparser==4.0.2
contextlib2==0.6.0.post1
cssselect==1.1.0
cssutils==1.0.2
decorator==3.4.0
docutils==0.14
feedparser==5.1.3
gdata==2.0.18
gevent==1.0.2
git+https://github.com/janverb/git-aggregator.git@therp-patches#egg=git-aggregator
git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
greenlet==0.4.7
idna==2.10
importlib-metadata==2.1.1
importlib-resources==3.3.1
importmagic3==0.2.0
jcconv==0.2.3
jedi==0.17.2
Jinja2==2.8.1
kaptan==0.5.12
log-colorizer==1.8.6
lxml==4.2.3
git+https://github.com/StefanRijnhart/python-magento.git@call_with_http_method#egg=python-magento
Mako==1.0.0
MarkupSafe==0.23
mock==1.0.1
numpy==1.16.6
OdooRPC==0.7.0
ofxparse==0.20
pandas==0.24.2
parso==0.7.1
passlib==1.6.2
pathlib2==2.3.6
pathtools==0.1.2
pg-activity==1.5.0
Pillow==3.3.2
psutil==2.1.1
psycogreen==1.0
psycopg2==2.8.3
ptvsd==5.0.0a4
pudb==2019.1
pydot==1.0.2
Pygments==2.5.2
pyparsing==1.5.7
pyPdf==1.13
PyPDF2==1.26.0
pyserial==2.7
Python-Chart==1.39
python-dateutil==2.8.1
python-dotenv==0.17.0
python-ldap==2.4.15
python-magic==0.4.24
python-openid==2.2.5
python-stdnum==1.16
pytz==2014.4
pyusb==1.0.0b1
qrcode==5.0.1
reportlab==3.1.44
requests==2.26.0
scandir==1.10.0
simplejson==3.5.3
singledispatch==3.6.2
six==1.10.0
soupsieve==1.9.6
spark-parser==1.8.9
suds-jurko==0.6
typing==3.10.0.0
uncompyle6==3.7.4
Unidecode==1.1.1
unittest2==0.5.1
urllib3==1.26.4
urwid==2.1.2
vatnumber==1.2
viivakoodi==0.8.0
vobject==0.6.6
Wand==0.6.6
watchdog==0.9.0
wdb==3.3.0
Werkzeug==0.9.6
wsgiref==0.1.2
xdis==5.0.12
xlrd==2.0.1
xlwt==0.7.5
zipp==1.2.0
