pyyaml==5.4.1
appdirs==1.4.4
argcomplete==1.12.3
argh==0.26.2
astor==0.8.0
attrs==21.2.0
Babel==2.6.0
beautifulsoup4==4.9.3
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
click-odoo==1.4.3
click-odoo-contrib==1.12.0
colorama==0.4.4
cssselect==1.1.0
decorator==4.3.0
defusedxml==0.7.1
docutils==0.14
ebaysdk==2.1.5
feedparser==5.2.1
freezegun==0.3.11
gevent==1.4.0
git+https://github.com/janverb/git-aggregator.git@therp-patches#egg=git-aggregator
git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
greenlet==0.4.15
html2text==2018.1.9
idna==2.10
importlib-metadata==4.8.1
importlib-resources==5.2.2
importmagic3==0.2.0
isodate==0.6.0
jedi==0.18.0
Jinja2==2.10.1
kaptan==0.5.12
libsass==0.17.0
libxml2-python3==2.9.5
log-colorizer==1.8.6
lxml==4.3.2
Mako==1.0.7
MarkupSafe==1.1.0
mock==4.0.3
num2words==0.5.6
ofxparse==0.20
parso==0.8.2
passlib==1.7.1
pathtools==0.1.2
pg-activity==1.5.0
phonenumbers==8.10.19
Pillow==6.1.0
polib==1.1.0
psutil==5.6.6
psycopg2==2.8.3
ptvsd==5.0.0a4
pudb==2019.1
pydot==1.4.1
Pygments==2.10.0
pyldap==2.4.28
pyparsing==2.2.0
PyPDF2==1.26.0
pyserial==3.4
python-dateutil==2.8.2
python-dotenv==0.17.1
python-magic==0.4.24
python-stdnum==1.16
pytz==2021.1
pyusb==1.0.2
qrcode==6.1
reportlab==3.5.13
requests==2.21.0
requests-toolbelt==0.9.1
six==1.16.0
soupsieve==1.9.6
spark-parser==1.8.9
typing-extensions==3.10.0.2
uncompyle6==3.7.4
Unidecode==1.1.1
urllib3==1.26.6
urwid==2.1.2
vobject==0.9.6.1
watchdog==0.9.0
wdb==3.3.0
websocket-client==0.56.0
Werkzeug==0.14.1
xdis==5.0.12
xlrd==2.0.1
XlsxWriter==1.1.2
xlwt==1.3.0
zeep==3.2.0
zipp==3.5.0
