pyyaml==3.13
acme-tiny==4.1.0
appdirs==1.4.4
argh==0.26.2
argcomplete==1.12.3
argparse==1.2.1
Babel==1.3
backports.functools-lru-cache==1.6.4
backports.os==0.1.1
bcrypt==3.1.7
BeautifulSoup==3.2.1
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==3.1.1
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-odoo==1.4.3
click-odoo-contrib==1.12.0
colorama==0.4.4
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==3.3.2
cssselect==1.1.0
cssutils==1.0.2
decorator==3.4.0
docutils==0.14
ebaysdk==2.1.4
enum34==1.1.10
feedparser==5.1.3
fs==0.5.4
future==0.18.2
gdata==2.0.18
gevent==1.0.2
git+https://github.com/janverb/git-aggregator.git@therp-patches#egg=git-aggregator
git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
greenlet==0.4.7
idna==2.10
importlib-metadata==2.1.1
importlib-resources==3.3.1
importmagic3==0.2.0
ipaddress==1.0.23
IPy==1.1
jcconv==0.2.3
jedi==0.17.2
Jinja2==2.8.1
kaptan==0.5.12
log-colorizer==1.8.6
lxml==4.2.3
Mako==1.0.1
MarkupSafe==0.23
mock==1.0.1
numpy==1.16.6
oauthlib==3.1.0
OdooRPC==0.8.0
oca-decorators==0.0.1
ofxparse==0.20
pandas==0.24.2
paramiko==2.7.2
parso==0.7.1
passlib==1.6.2
pathlib2==2.3.6
pathtools==0.1.2
pg-activity==1.5.0
Pillow==3.3.2
psutil==2.2.0
psycogreen==1.0
psycopg2==2.8.3
ptvsd==5.0.0a4
pudb==2019.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.0.2
Pygments==2.5.2
PyJWT==1.7.1
PyNaCl==1.4.0
pyotp==2.6.0
pyparsing==2.0.3
pyPdf==1.13
PyPDF2==1.26.0
pyserial==2.7
pysftp==0.2.9
Python-Chart==1.39
python-dateutil==2.8.1
python-dotenv==0.17.0
python-ldap==2.4.19
python-magic==0.4.24
python-openid==2.2.5
python-stdnum==1.16
pytz==2014.10
pyusb==1.0.0b2
qrcode==5.1
raven==6.10.0
reportlab==3.1.44
requests==2.6.0
scandir==1.10.0
singledispatch==3.6.2
six==1.10.0
soupsieve==1.9.6
spark-parser==1.8.9
suds-jurko==0.6
typing==3.10.0.0
uncompyle6==3.7.4
Unidecode==1.1.1
urllib3==1.26.4
urwid==2.1.2
validate-email==1.3
vatnumber==1.2
viivakoodi==0.8.0
vobject==0.6.6
watchdog==0.9.0
wdb==3.3.0
Werkzeug==0.9.6
wsgiref==0.1.2
xdis==5.0.12
xlrd==2.0.1
XlsxWriter==0.9.3
xlwt==0.7.5
zipp==1.2.0
