appdirs==1.4.4
argcomplete==1.12.3
argh==0.26.2
astor==0.8.1
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.9.3
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
click-odoo==1.4.3
click-odoo-contrib==1.12.0
colorama==0.4.4
cryptography==3.4.8
cssselect==1.1.0
decorator==4.4.2
defusedxml==0.7.1
docutils==0.16
ebaysdk==2.1.5
feedparser==5.2.1
freezegun==0.3.11; python_version < '3.8'
freezegun==0.3.15; python_version >= '3.8'
gevent==1.5.0 ; python_version == '3.7'
gevent==20.9.0 ; python_version > '3.7' and python_version <= '3.9'
gevent==21.8.0 ; python_version > '3.9'  # (Jammy)
-e git+https://github.com/janverb/git-aggregator.git@d1685abb2776d255730e90fd22ae3363d83a9e89#egg=git_aggregator
-e git+https://github.com/OCA/openupgradelib.git@6d97dfc0af2f528889f4a491c71129ef0f7cf82f#egg=openupgradelib
greenlet==0.4.15 ; python_version == '3.7'
greenlet==0.4.17 ; python_version > '3.7' and python_version <= '3.9'
greenlet==1.1.2 ; python_version  > '3.9'  # (Jammy)
html2text==2020.1.16
idna==2.10
importlib-metadata==4.8.1
importlib-resources==5.2.2
importmagic3==0.2.0
isodate==0.6.0
jedi==0.18.0
Jinja2==2.11.3
kaptan==0.5.12
libsass==0.18.0
log-colorizer==1.8.6
lxml==4.6.5
MarkupSafe==1.1.0
mock==4.0.3
num2words==0.5.6
ofxparse==0.19; python_version <= '3.9'
ofxparse==0.21; python_version > '3.9'  # (Jammy)
parso==0.8.2
passlib==1.7.3
pathtools==0.1.2
pg-activity==1.5.0
phonenumbers==8.10.19
Pillow==9.0.1
polib==1.1.0
psutil==5.6.7
psycopg2==2.8.6
ptvsd==5.0.0a4
pudb==2019.1
pydot==1.4.1
Pygments==2.10.0
pyldap==2.4.28
pyopenssl==19.0.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyserial==3.4
python-dateutil==2.8.2
python-dotenv==0.17.1
python-ldap==3.4.0
python-magic==0.4.24
python-stdnum==1.13
pytz==2021.1
pyusb==1.0.2
pyyaml==5.4.1
qrcode==6.1
reportlab==3.5.59
requests==2.26.0
requests-toolbelt==0.9.1
six==1.16.0
soupsieve==1.9.6
spark-parser==1.8.9
typing-extensions==3.10.0.2
uncompyle6==3.7.4
Unidecode==1.1.1
urllib3==1.26.6
urwid==2.1.2
vobject==0.9.6.1
watchdog==2.1.9
wdb==3.3.0
websocket-client==0.56.0
Werkzeug==0.16.1 ; python_version <= '3.9'
Werkzeug==2.0.2 ; python_version > '3.9'  # (Jammy)
xdis==5.0.12
xlrd==1.1.0; python_version < '3.8'
xlrd==1.2.0; python_version >= '3.8'
XlsxWriter==1.1.2
xlwt==1.3.*
zeep==3.4.0
zipp==3.5.0
