[Unit]
# Version: v.23.08.03
Description=odoo
After=network.target
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/odoo
ExecStart=/home/ubuntu/odoo/odoo-service
KillMode=mixed

[Install]
WantedBy=multi-user.target
