auto
common/conf.d/test-odoo.cfg
custom/src/*
!custom/src/.gitkeep
!custom/src/addons.yaml
!custom/src/repos.yaml
datadir
.env
.env-secret
logfile
migrate-backup
migrate-logfiles
migrate-temporary
migration/*/auto
migration/*/common/conf.d/test-odoo.cfg
migration/*/custom/src/*
!migration/*/custom/src/.gitkeep
!migration/*/custom/src/addons.yaml
!migration/*/custom/src/repos.yaml
migration/*/datadir
migration/*/.env
migration/*/.env-secret
migration/*/.gitignore
migration/*/LICENSE
migration/*/logfile
migration/*/migrate-backup
migration/*/migrate-logfiles
migration/*/migrate-temporary
migration/*/progress.json
migration/*/README.md
migration/*/*.pyc
migration/*/.pyenv
migration/*/.slide
migration/*/.venv
migration/*/waftlib
progress.json
*.pyc
.pyenv
.slide
.venv
waftlib
